:root {
    --bg-page: #000;
    --text-color: #f3f3f3;
    --dark-header: #131313;
    --dark-color: #1f1f1f;
    --wrapper-header:#373737;
    --wrapper-sub-header: #444648;
    --image-bg: #373737;
    --message-bg: #444648;
}